<!-- Search bar & background -->
<section class="hero is-medium is-dark">
  <div class="hero-body" id="index">
    <div class="container">
      {{!--<figure class="image">
      <img src="../assets/images/logo.png" height="100px" width="100px">
      </figure>--}}
      <div class="column is-half is-offset-one-quarter">
        <div class="control">
          <form action="/search" method="GET">
            <button class="button is-success is-medium has-addons" style="float: right">Go</button>
            <div style="overflow: hidden; padding-right: .5em;">
              <input class="input is-medium" type="text" placeholder="What do you want to grow?" name="plantName">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<br> 

<div class="container">
  <div class="column">
    <h1 class="title is-3">Favorites</h1>
  </div>
</div>


{{!--{{#each fav}}--}}
<section>
  <div class="container">
    <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              {{this.image}}
              <img src="/plant/01_tomato.jpg" alt="Image" >
            </figure>
          </div>
          <div class="card-content">
            <div>
              <div>
                <a class="title is-3" href="#">
                  {{this.name}}
                  Watermelon</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
{{!--{{/each}}--}}



