<section class="hero is-fullheight is-dark">
  <div class="hero-body" id="index">
    <div class="column"></div>
    <div class="column">
      <div class="field">
        <div class="control">
          <form action="/search" method="POST">
            <button class="button is-success is-medium" style="float: right">Go</button>
            <div style="overflow: hidden; padding-right: .5em;">
              <input class="input is-medium" type="text" placeholder="What do you want to grow?" name="plantName">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</section>