{{#section 'head'}}
  <link rel="stylesheet" href="assets/css/style.css">
{{/section}}



<section class="hero is-fullheight">
  <div class="hero-body" id="index">
    <div class="column"></div>
    <div class="column">
      <div class="field indexfield">
        <div class="control" id="box">
          <form action="/search" method="GET">
            <button class="button is-success is-medium" style="float: right">Go</button>
            <div style="overflow: hidden; padding-right: .5em;">
              <input class="input is-success is-medium" type="text" placeholder="What do you want to grow?" name="plantName">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</section>