{{#section 'head'}}
  <link rel="stylesheet" href="assets/css/registrationStyle.css">
{{/section}}

<div id="vegetables">

<div class="close">

<form action="/login" method="POST" class="animated slideInDown">
  <h2>Welcome back!</h2>
     {{#if message}}
       <div class="notification is-danger"> {{message}} </div>
    {{/if}}
    <p>
      <label for="Username" class="floatLabel">Username</label>
      <input id="Username" name="username" type="text">
    </p>
    <p>
      <label for="password" class="floatLabel">Password</label>
      <input id="password" name="password" type="password">
    </p>
    <p>
      <input type="submit" value="Login" id="submit">
    </p>
  </form>
  </div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</div>