{{#section 'head'}}
  <link rel="stylesheet" href="assets/css/registrationStyle.css">
{{/section}}


{{!-- {{#section 'head'}}
  <link rel="stylesheet" href="assets/css/registrationStyle.css">
{{/section}} --}}

{{!-- <h1>Registration</h1> --}}

{{#if errors}}
    {{#each errors}}
        {{msg}}
        <hr>
    {{/each}}
{{/if}}

{{!-- <form action="/registration/new" method="POST">
    <label for="username">Name</label>
    <input type="text" name="username">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="text" name="password">
    <label for="confirmPassword">Confirm Password</label>
    <input type="text" name="confirmPassword">
    <button type="submit">Submit</button>
</form> --}}

{{!-- <div id="vegetables"> --}}

<div id="vegetables">

<div class="close">

<form action="#" method="post" class="animated slideInDown">
  <h2>Welcome back!</h2>
    <p>
      <label for="Username" class="floatLabel">Username</label>
      <input id="Username" name="Username" type="text">
    </p>

    <p>
      <label for="password" class="floatLabel">Password</label>
      <input id="password" name="password" type="password">
      {{!-- <span>Your password is longer than 8 characters</span> --}}
    </p>
    {{!-- <p>
      <label for="confirm_password" class="floatLabel">Confirm Password</label>
      <input id="confirm_password" name="confirm_password" type="password">
      <span>Your passwords do not match</span>
    </p> --}}
    <p>
      <input type="submit" value="Login" id="submit">
    </p>
  </form>

  </div>



<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script type="text/javascript" src="assets/js/logic.js"></script>

{{!-- </div>
</section> --}}


{{!-- 

<{{!-- div class="login-wrapper columns">
  <div class="column is-8 is-hidden-mobile hero-banner">
    <section class="hero is-fullheight is-dark">
      <div class="hero-body" id="login">
        <div class="container section">
          <div class="has-text-right">
            <!--               <h1 class="title is-1">Welcome to GreenThumb</h1> <br> -->
            <!-- <p class="title is-3">Secure User Account Login</p> -->
          </div>
        </div>
      </div>
      <div class="hero-footer">
        <!-- <p class="has-text-centered">Image © Glenn Carstens-Peters via unsplash</p> -->
      </div>
    </section>
  </div>
  <div class="column is-4">
    <section class="hero is-fullheight">
      <div class="hero-heading">
        <div class="section has-text-centered">
          <img src="../assets/images/GreenThumbLogo.png">
          <!-- <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo" width="150px"> -->
        </div>
      </div>
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <!-- <h1 class="avatar has-text-centered section">
                  <img src="https://placehold.it/128x128">
                </h1> -->
              <div class="login-form">
                <form method="POST" action="/login">
                  <p class="control has-icon has-icon-right">
                    <input class="input email-input" type="text" placeholder="jsmith.org" name="username">
                    <span class="icon user">
                      <i class="fa fa-user"></i>
                    </span>
                  </p>
                  <p class="control has-icon has-icon-right">
                    <input class="input password-input" type="password" placeholder="●●●●●●●" name="password">
                    <span class="icon user">
                      <i class="fa fa-lock"></i>
                    </span>
                  </p>
                  <p class="control login">
                    <button class="button is-success is-outlined is-large is-fullwidth">Login</button>
                  </p>
                </form>
              </div>
              <div class="section forgot-password">
                <p class="has-text-centered">
                  <a href="#">Forgot password</a>
                  <a href="#">Need help?</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div> --}}