{{#section 'head'}}
  <link rel="stylesheet" href="assets/css/registrationStyle.css">
{{/section}}

<div id="vegetables">

<div class="close">

<form action="/login" method="POST" class="animated slideInDown">
  <h2>Welcome back!</h2>
    <p>
      <label for="username" class="floatLabel">Username</label>
      <input id="Username" name="username" type="text">
    </p>
    <p>
      <label for="password" class="floatLabel">Password</label>
      <input id="password" name="password" type="password">
    </p>
    <p>
      <input type="submit" value="Login" id="submit">
    </p>
  </form>
  </div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script type="text/javascript" src="assets/js/logic.js"></script>

</div>



{{!-- 

<{{!-- div class="login-wrapper columns">
  <div class="column is-8 is-hidden-mobile hero-banner">
    <section class="hero is-fullheight is-dark">
      <div class="hero-body" id="login">
        <div class="container section">
          <div class="has-text-right">
            <!--               <h1 class="title is-1">Welcome to GreenThumb</h1> <br> -->
            <!-- <p class="title is-3">Secure User Account Login</p> -->
          </div>
        </div>
      </div>
      <div class="hero-footer">
        <!-- <p class="has-text-centered">Image © Glenn Carstens-Peters via unsplash</p> -->
      </div>
    </section>
  </div>
  <div class="column is-4">
    <section class="hero is-fullheight">
      <div class="hero-heading">
        <div class="section has-text-centered">
          <img src="../assets/images/GreenThumbLogo.png">
          <!-- <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo" width="150px"> -->
        </div>
      </div>
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <!-- <h1 class="avatar has-text-centered section">
                  <img src="https://placehold.it/128x128">
                </h1> -->
              <div class="login-form">
                <form method="POST" action="/login">
                  <p class="control has-icon has-icon-right">
                    <input class="input email-input" type="text" placeholder="jsmith.org" name="username">
                    <span class="icon user">
                      <i class="fa fa-user"></i>
                    </span>
                  </p>
                  <p class="control has-icon has-icon-right">
                    <input class="input password-input" type="password" placeholder="●●●●●●●" name="password">
                    <span class="icon user">
                      <i class="fa fa-lock"></i>
                    </span>
                  </p>
                  <p class="control login">
                    <button class="button is-success is-outlined is-large is-fullwidth">Login</button>
                  </p>
                </form>
              </div>
              <div class="section forgot-password">
                <p class="has-text-centered">
                  <a href="#">Forgot password</a>
                  <a href="#">Need help?</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div> --}}