<br>

<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Your Results
      </h1>
      <h2 class="subtitle">

      </h2>
    </div>
  </div>
</section>

<br>

<div class="tile is-ancestor">
  {{#each results}}
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">{{name}}</p>
        <figure class="image is-4by3">
          <img src="https://www.organicfacts.net/wp-content/uploads/2013/05/watermelon2.jpg">
        </figure>
      </article>
    </div>
  {{/each}}
</div>