<br>

<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Your Results
      </h1>
      <h2 class="subtitle">
        
      </h2>
    </div>
  </div>
</section>

<br>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Result 1</p>
       <figure class="image is-4by3">
            <img src="https://www.organicfacts.net/wp-content/uploads/2013/05/watermelon2.jpg">
          </figure>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Result 2</p>
     <figure class="image is-4by3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Bright_red_tomato_and_cross_section02.jpg">
          </figure>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Result 3</p>
      
      <div class="content">
     <figure class="image is-4by3">
            <img src="https://www.organicfacts.net/wp-content/uploads/2013/06/Eggplant-1020x765.jpg">
          </figure>
      </div>
    </article>
  </div>

<div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Result 4</p>
      
      <div class="content">
     <figure class="image is-4by3">
            <img src="https://www.hammertown.com/wp-content/uploads/2016/09/zucchini-feature.jpg">
          </figure>
      </div>
    </article>
  </div>
