

#login {
	background-image: url(../images/garden.jpg);
	background-size: cover;
	font: bold;
}

.hero.is-dark .section {
    background-color: transparent;
   
}

.title is-1 {
	font: bold;
}

/*plant css*/
.plantBackground {
	background-color: #f5f5f5;
}

.white {
	background-color: #fff;
}

/* Nav Bar CSS*/
.logo {
	
}

/*css for index page*/
#index { 
	background-image: url(../images/gardendig2.png);
  	background-size: 100%;
 }

.field .input {
	
	text-align: center;
	background: rgba(255, 255, 255, 6.0);
	width: 415px;
}

 favorites page
.button.is-link {
	text-decoration: none;
	}